<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="radio" id="one" value="one" v-model="pick">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="two" v-model="pick">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ pick }}</span>
    </div>


     <script>
         const app = new Vue({
             el: '#app',
             data() {
                 return {
                     pick: 'one'
                 }
             }
         });
     </script>
</body>
</html>