<!DOCTYPE html>
<html>
<head>
	<title>refs问题</title>
	<meta charset="utf-8">
	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
	<script src="https://cdn.bootcss.com/element-ui/1.4.6/index.js"></script>

	<link href="https://cdn.bootcss.com/element-ui/1.4.6/theme-default/index.css" rel="stylesheet">
</head>
<body>
	<div id="app">
		<el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px" class="demo-dynamic">
			<el-row :gutter="20" v-for="(domain, index) in dynamicValidateForm.domains" :key="index">
				<el-col :span="4">
					<el-input v-model="domain.status"></el-input>
				</el-col>
				<el-col :span="8">
					<el-form-item
							in-line
							:label="'协议' + index"
							:key="domain.key"
							:prop="'domains.' + index + '.protocol'"
							:rules="{validator: (rule, value, callback) => validateDomain(rule, value, callback, index), trigger: 'blur'}">
						<el-input v-model="domain.protocol"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="8">
					<el-form-item
							:label="'域名' + index"
							:key="domain.key"
							:prop="'domains.' + index + '.value'"
							:rules="{validator: (rule, value, callback) => validateDomain(rule, value, callback, index), trigger: 'blur'}">
						<el-input v-model="domain.value"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="4">
					<el-button @click.prevent="removeDomain(domain)">删除</el-button>
				</el-col>
			</el-row>
			<el-form-item>
				<el-button type="primary" @click="submitForm('dynamicValidateForm')">提交</el-button>
				<el-button @click="addDomain">新增域名</el-button>
				<el-button @click="resetForm('dynamicValidateForm')">重置</el-button>
			</el-form-item>
		</el-form>
	</div>

	<script type="text/javascript">
		const app = new Vue({
			el: '#app',
          data() {
            return {
              dynamicValidateForm: {
                domains: [{
                  status: '',
                  protocol: '',
                  value: ''
                }]
              }
            };
          },
          methods: {
			// 这里domain和protocol公用一个校验，可以单独拆开！
            validateDomain (rule, value, callback, index) {
			  let domains = this.dynamicValidateForm.domains
              let currentStatus = domains[index].status

			  if(rule.field === `domains.${index}.protocol`) {
				if((currentStatus === '' || currentStatus === '1') && !value) {
                  return callback(new Error('请输入protocol'));
				}
			  }else if(rule.field === `domains.${index}.value`) {
                if((currentStatus === '' || currentStatus === '2') && !value) {
                  return callback(new Error('请输入domain'));
                }
			  }
              return callback()
			},
            submitForm(formName) {
              this.$refs[formName].validate((valid) => {
                if (valid) {
                  alert('submit!');
                } else {
                  console.log('error submit!!');
                  return false;
                }
              });
            },
            resetForm(formName) {
              this.$refs[formName].resetFields();
            },
            removeDomain(item) {
              var index = this.dynamicValidateForm.domains.indexOf(item)
              if (index !== -1) {
                this.dynamicValidateForm.domains.splice(index, 1)
              }
            },
            addDomain() {
              this.dynamicValidateForm.domains.push({
                status: '',
                protocol: '',
                value: '',
                key: Date.now()
              });
            }
          }
		})
	</script>
</body>
</html>