<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../vue-test/demo/lib/vue.js"></script></head>
<body>
    <div id="app">
        <template v-for="n in 10">
            <span>{{n}}</span>
            <span>{{n+1}}</span>
        </template>

        <div>
            <my-component v-for="(item, index) in list" :key="item.name" :name="item.name"></my-component>
        </div>

    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    list: [{name: 'a'}, {name: 'b'}, {name: 'c'}]
                }
            },
            components: {
                'myComponent': {
                    props: ['name'],
                    template: `<p>{{name}}</p>`
                }
            }
        });
    </script>
</body>
</html>